* {
    margin: 0;
    padding: 0;
}

/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Montserrat:wght@100;300;400;500&display=swap');

/* Grilla */

.grilla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        " header header header"
        " menu menu menu "
        "seccion1 seccion2 seccion3"
        "seccion4 seccion5 seccion6"
        "footer footer footer";
    width: 100%;
    align-items: center;
}

/* Header */

.header {
    grid-area: header;
    background-color: black;
    height: 200px;
    width: 100%;
}

/* Título del sitio */

.titulo {
    font-family: 'Cormorant Garamond', serif;
    font-size: 45px;
    color: antiquewhite;
    font-weight: lighter;
    background-position: center;
    text-align: center;
    padding: 10% 0% 2% 0%;
}

/* Menú horizontal */

.menu {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: rgb(195, 186, 186);
    margin-bottom: 50px;
}

.menu li {
    margin: 15px;
    list-style: none;
}

.menu a {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

/* Secciones */

div section {
    margin: 2px
}

.grilla h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    color: black;
    margin: 8px 0px 10px 0px;
    font-weight: 400;
}

.grilla h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    color: black;
    font-weight: 600;
    margin: 8px 0px 10px 0px;
}

.seccion1 {
    grid-area: seccion1;
    margin-left: 50px;
}

.seccion2 {
    grid-area: seccion2;
    margin: 25px;
}

.seccion3 {
    grid-area: seccion3;
    margin-right: 50px;
}

.seccion4 {
    grid-area: seccion4;
    margin-left: 40px;
}

.seccion5 {
    grid-area: seccion5;
    margin: 25px;
}

.seccion6 {
    grid-area: seccion6;
    margin-right: 40px;
}

/* Imagenes en el html*/

.grilla div img {
    max-width: 380px;
    border-radius: 4px;
}

/* Footer */

.footer {
    grid-area: footer;
    background-color: black;
    width: 100%;
    height: 300px;
    margin-top: 50px;
    padding-top: 10px;
}

/* Newsletter */

.newsletter {
    display: inline-block;
    margin-left: 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

.elementosnewsletter {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: antiquewhite;
    padding: 5px 20px 0px 15px;
    margin: 5px 860px 1px 5px;
    align-items: left;
}

.newsletter button {
    font-size: 18px;
    padding: 2px 2px 2px 2px;
    margin: 10px 860px 1px 20px;
    background-color: rgb(195, 186, 186);
    border-style: solid;
    border-radius: 5px;
    text-align: center;
}

.newsletter button:hover {
    background-color: rgb(227, 227, 227);
    color: black;
}

/* Redes sociales en footer*/

.redes {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin-left: 80%;
    color: white;
}

.redes i {
    margin: 5px;
}

/* Copyright en footer*/

.copyright {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: antiquewhite;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 5%;
    text-align: center;
}

/* Encabezados h2 y h3 en las páginas de Actualidad, Críticas y Festivales*/

.article h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: black;
    padding: 10px;
    margin-left: 2%;
}

.article h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    color: black;
    margin-top: 10px;
    margin-right: 650px;
    margin-bottom: 10px;
    margin-left: 90px;
    text-align: left;
    line-height: 1.5em;
}

/* Autor de la entrada */

.article h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-left: 90px;
}

/* Párrafos de textos en las páginas de Actualidad, Críticas y Festivales*/

.article p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 10px;
    color: black;
    margin-top: 5px;
    margin-right: 320px;
    margin-bottom: 10px;
    margin-left: 90px;
    text-align: justify;
    line-height: 1.5em;
}

/* Imágenes en los html de Actualidad, Críticas y Festivales*/

.imagenesprincipales {
    width: 80%;
    padding-top: 15px;
    padding-right: 580px;
    padding-bottom: 15px;
    padding-left: 90px;
}

.article iframe {
    margin: 20px 600px 20px 90px;
}


/* Formulario de contacto*/


.formulario {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}

.formulario input {
    width: 500px;
    height: 40px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border-style: solid;
    border-color: black;
    border-radius: 1px;
    border-width: 1px;
    margin: 5px;
    padding: 5px;
}

.formulario input [type=submit]:hover {
    background-color: black;
    color: antiquewhite;
}

.formulario input [type=button]:hover {
    background-color: black;
    color: antiquewhite;
}

.formulario input [type=reset]:hover {
    background-color: black;
    color: antiquewhite;
}

/* Media queries */

@media (max-width:375px) {

    /* Grilla */

    .grilla {
        display: grid;
        grid-template-columns: repeat (1, 1fr);
        grid-template-rows: repeat (9, 1fr);
        grid-template-areas:
            "header"
            "menu"
            "seccion1"
            "seccion2"
            "seccion3"
            "seccion4"
            "seccion5"
            "seccion6"
            "footer";
        width: 100%;
        align-items: center;
    }

    .grilla {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: center;
    }

    /* Header */
    .header {
        grid-column: 1;
        grid-row: 1;
    }

    .titulo {
        font-size: 40px;
        text-align: center;
        margin: 60px 20px 20px 20px;
    }

    /* Menú */
    .menu {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 230px;
        background-color: rgb(195, 186, 186);
        margin: 0%;
    }

    /* Secciones */
    .seccion1 {
        grid-column: 1;
        grid-row: 3;
        margin: 2px 0px 2px 30px;
    }

    .seccion2 {
        grid-column: 1;
        grid-row: 4;
        margin: 2px 0px 2px 30px;
    }

    .seccion3 {
        grid-column: 1;
        grid-row: 5;
        margin: 2px 0px 2px 30px;
    }

    .seccion4 {
        grid-column: 1;
        grid-row: 6;
        margin: 2px 0px 2px 30px;
    }

    .seccion5 {
        grid-column: 1;
        grid-row: 7;
        margin: 2px 0px 2px 30px;
    }

    .seccion6 {
        grid-column: 1;
        grid-row: 8;
        margin: 2px 0px 2px 30px;
    }

    /* Footer */
    .footer {
        grid-column: 1;
        grid-row: 9;
        width: 100%;
        height: 400px;
        margin-top: 30px;
        padding-top: 10px;
    }

    /* Newsletter */

    .newsletter {
        display: inline-block;
        justify-content: center;
        align-content: center;
        width: 100%;
    }

    .elementosnewsletter {
        margin: 20px 10px 2px 20px;
        padding: 5px;
        text-align: center;
    }

    .newsletter button {
        padding: 8px;
        margin: 40px 30px 1px 140px;
    }

    /* Redes sociales en footer*/

    .redes {
        margin: 80px 150px 2px 150px;
    }

    /* Copyright en footer*/

    .copyright {
        font-size: 13px;
        margin: 30px 50px 10px 80px;
    }

}